html, body {
    margin: 0px;
    min-height: 100%;
}


body {
	background: linear-gradient(#0D47A1, #BBDEFB);
	position: relative;
}

#foot {
	list-style-type: none;
	color:#01579B;
	width: 85%;
	min-width:85%;
}

#foot a {
	color:#00897B;
}

#menu ul{
    padding: 0;
}

#foot li {
	list-style-type: none;
}

.jumbotron {
	padding: 32px 32px 64px 32px;
	height: 90%;
}

#principal {
	align-items: center;
	width: 85%;
	min-width:85%;
}


#construction {
	align-items: center;
	margin-top: 30px;
}

#image {
	width: 100%;
	min-width: 100%;
}

#jobstuff{
	margin-top: 30px;
	width: 85%;
	align-items: center;
}

#jobstuff .anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -100px;
    left: 0;
    visibility: hidden;
}

#jobstuff .anchor:target {
    padding-top:100px;
}


#developer {
	max-width:100%;
	max-height:100%;
}

#carousel{
	width: 85%;
	align-items: center;
}

#carousel .jumbotron{
	margin-top: 30px;
}

@media only screen and (max-width: 800px) {
	.jumbotron {
		height: 75%;
		padding: 12px 12px 12px 12px;
	}
	
	#carousel{
		width: 95%;
		align-items: center;
	}
	
	#foot {
		text-align: center;
	}
}